extends base.jade
block content
  each post in posts
      table
        tr
          td
            | #{post.title}
        tr
          td
            | #{post.content}
        tr
          td
            a(href="delete/#{post.id}") delete
